#page-title {
    font-size: 24px;
    color: #2196F3;
    text-align: center;
    padding-top: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

#container {
    height: calc(100vh - 64px);
    background-color: #b8e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.search-users {
    width: 50%;
}

.content-user-container {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.user-table-header {
    background-color: #85bfee;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 16px;
    width: 20%;
}

.user-table-field {
    width: 20%;
    text-align: center;
    padding: 16px;
}

.user-table-row:hover {
    background-color: #a5efef;
}

.avatar-image {
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.user-element-button-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.user-element-button-container button {
    border: 1px solid #b9eded;
    background-color: #ddf5f5;
}